@keyframes colors-fade {
    from {
      transform: translateX(-20vw) translateY(-50%);
      opacity: 1;
    }
    to {
      transform: translateX(20vw) translateY(40%);
      opacity: 1;
    }
}

@keyframes slide-fade {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes colors {
  0% {
    background-color: rgba(243, 72, 104, 1);
  }
  100% {
    background-color: rgba(158, 0, 236, 1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes inOut {
  0% {
    transform: scale(.3);
    background-color: rgba(243, 72, 104, 1);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(242, 71, 104, 1);
  }
  100% {
    transform: scale(1);
    background-color: rgba(158, 0, 236, 1);
  }
} 

@keyframes boxOne {
  0% {
    transform: translateY(-115px) scaleY(0.15);
  }
  25% {
    transform: translateX(-150px) scaleY(0.9) scaleX(0.15);
  }
  50% {
    transform: translateX(-250px) scaleY(0.9) scaleX(0.15);
  }
  75% {
    transform: translateX(-250px) translateY(0px) scaleY(0.15) scaleX(0.15);
  }
  100% {
    transform: translateY(60px) translateX(-115px) scaleY(0.15) scaleX(0.38);
  }
}
@keyframes boxTwo {
  0% {
    transform: translateY(0px) scaleY(0.15);
  }
  25% {
    transform: translateX(0px) scaleY(0.9) scaleX(0.15);
  }
  50% {
    transform: translateX(0px) scaleY(0.9) scaleX(0.7);
  }
  75% {
    transform: translateX(0px) translateY(0px) scaleY(0.15) scaleX(0.7);
  }
  100% {
    transform: translateY(-60px) translateX(0px) scaleY(0.15) scaleX(0.84);
  }
}
@keyframes boxThree {
  0% {
    transform: translateY(115px) scaleY(0.15);
  }
  25% {
    transform: translateX(150px) scaleY(0.9) scaleX(0.15);
  }
  50% {
    transform: translateX(250px) scaleY(0.9) scaleX(0.15);
  }
  75% {
    transform: translateX(250px) translateY(0px) scaleY(0.15) scaleX(0.15);
  }
  100% {
    transform: translateY(60px) translateX(113px) scaleY(0.15) scaleX(0.38);
  }
}