@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/button";
@import "./partials/photo";
@import "./partials/rotate";


* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: $white;
  color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;
  max-width: 30%;
  // position: relative;
  // top: 30%;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $secondary-color;
  }
}
main {
  flex-grow: 1;
}
.animation-group {
  border: 1px solid darken($white, 10%);
  padding: 0.625rem 0 1rem;
}
.footer {
  min-width: 100vw;
  position: fixed;
  bottom: 0;
  animation: colors 5s infinite;
  &__heading {
     animation: colors-fade 4s ease-in-out forwards;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     color: #fff;
  }
}